.navbar{
     width: auto;
     height: 50px;
     background-color: rgb(247, 247, 247);
     display: flex;
     justify-content: space-around;
     align-items: center;
     color: #000;
      
     

}
.nav-links{
     list-style: none;
     display: flex;
     gap: 20px;

}
.logo{
     font-size: 20px;
     font-weight: bold;
}
.btn{
     padding: 10px 20px;
     background-color: rgb(40, 209, 183);
     
     border-radius: 5px;
     
     color: #000;
     cursor: pointer;
}
.container{
     width: 100%;
     height: 500px;
     background-color: rgb(255, 255, 255);
     display: flex;
     justify-content: center;
     align-items: center;
}
#heading{
     font-size: 35px;
     font-weight: bold;
     color: #000;
}
#heading1{
     font-size: 50px;
     font-weight: bold;
     color: #0b70e4;
}
.btn-1{
     padding: 10px 20px;
     background-color: rgb(28, 136, 219);
     
     
     border-radius: 5px;
     
     color: #000;
     cursor: pointer;
     margin-top: 20px;
}
.right-div{
     width: 50%;
     height: 100%;
     background-color: rgb(255, 255, 255);
     display: flex;
     justify-content: center;
     align-items: center;

}
.img{
     width:400px;
     height: 400px;
}